@using FirstSite.Controllers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/prj10.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/theme-1.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>Document</title>
</head>

<body>


    <header class="header_container">
        @RenderBody();


    </header>
</body>
<script src="~/assets/plugins/jquery-3.4.1.min.js"></script>
<script src="~/assets/plugins/popper.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
@* validation~/ jquery script(unobtrusive) *@
@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>*@
@*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

@*<script type="text/javascript" src="@Url.Action("Index",controller:"Test")"></script>*@

</html>