@model ContactModel
@{
    ViewData["Title"] = "ارتباط با ما";
}

<button style="margin-bottom: 30px;margin-left: 50px;margin-top: 30px;">
    <a asp-action="Index" asp-controller="Home">صفحه اصلی</a>
</button>
<form asp-action="Contact" metod="post">
   @if (!string.IsNullOrWhiteSpace(ViewBag.success))
   {
       <div class="alert-success ">
           <p>@ViewBag.success</p>
       </div>
   }
   else
   {
       <div class="alert-danger">
           <p>@ViewBag.error</p>
       </div>
   }
   
  
    
    <fieldset>
        <label asp-for="Email">ایمیل خود را وارد کنید </label>
        <input type="email" asp-for="Email" placeholder="for example Alirabieey@gmail.com" style="margin-left: 94px"><br><br>
        <span asp-validation-for="Email" class="text-danger"></span><br/><br/>

        <label asp-for="Tell">شماره تماس :</label>
        <input type="tel" asp-for="Tell" placeholder="0921999999" style="margin-left: 141px;"><br><br>
        <label asp-for="Password">رمز عبور خود را وارد کنید:</label>
        <input type="password" asp-for="Password" placeholder="رمز خود را وارد کنید" style="margin-left: 61px;"> <br><br>
        <label asp-for="Text">پیشنهادات و انتقادات خود را به ما بگویید </label>
        <input type="text" asp-for="Text" placeholder=" نظر خود را بگویید" style="padding: 187px;"><br><br>
        <div class="form-group col-12" >
            <select class="custom-select" asp-for="Service" asp-items="Model.Services">
                <option selected="selected" value="0">سرویس مورد نظر را انتخاب کیند </option>
                
            </select>
        </div>
        <div>
            <button type="submit" class="btn-block btn-primary py-2">ارسال کنید...</button>
        </div>
    </fieldset>
</form>


