
@{
    ViewData["Title"] = "صفحه اصلی";
}




@await Html.PartialAsync("Header");
@*@await Html.PartialAsync("Projects",new List<Project>());*@

@await Component.InvokeAsync("Projects")

<div class="container">
    <hr />
</div>

@await Component.InvokeAsync("Articles")


@await Html.PartialAsync("Footer");

