@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="section_nav" >

    <div class="logo_nav">
        <a href="#" class="logo">
            Learning
        </a>
    </div>
    <nav class="style">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a asp-action="Contact" asp-controller="Home">About As</a>
        </li>
        <li>
            <a href="#">Servieces</a>
        </li>
        <li>
            <a href="#">Courses</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#" class="active">Register</a>
        </li>
    </nav>


</div>
<div class="section_content_header">
    <div class="Left_content_header">
        <h1>
            <span>
                Best Learning
            </span>
            <br>
            <span>
                Education platform
            </span>
            <br>
            <span class="span2">
                in the word
            </span>
            <br>
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            earum? Quis possimus quas magni nemo obcaecati aperiam perferendis numquam exercitationem ipsa
            doloribus ab eius consectetur inventore tempora porro necessitatibus error, consequatur repellendus,
            qui atque, aut dolore quisquam. Alias, rem magnam!
        </p>
        <form action>
            <input type="text" placeholder="what do you want to learn">
            <button>search cuorse</button>
        </form>
    </div>
    <div class="right_content_header">
        <img src="~/imag/img1.jpg" alt="" style="max-width: 300px;">
        <img src="~/imag/img2.jpg" alt="" style="max-width: 300px;">
        <div class="content_img_text">
            <ul>
                <Li>
                    expert teachers
                </Li>
                <Li>Get 30% off every last mounth</Li>
            </ul>
        </div>
    </div>
</div>

@*@await Html.PartialAsync("Projects",new List<Project>());*@

@await Component.InvokeAsync("Projects")


<section class="latest-blog-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">آخرین مقالات</h2>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-1.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                Top 3 JavaScript
                                Frameworks
                            </a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient...
                        </p>
                        <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-2.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                About Remote
                                Working
                            </a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient...
                        </p>
                        <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-3.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                A Guide to Becoming a
                                Full-Stack Developer
                            </a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient...
                        </p>
                        <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <hr/>
</div>

<footer class="footer text-center py-4">
    <p> موسسه خدماتی تجاری خادم الرضا (ع)</p>
</footer>